# Get your bot token from BotFather on Telegram
TELEGRAM_BOT_TOKEN=8600220216:AAEW0yTlJPO27rru9-u-8-ub2GCCcKDxZmo

# Your Telegram username (without @)
OWNER_USERNAME=oceanallsea

# Your channel username (without @)
CHANNEL_USERNAME=your_channel_username

# Channel invite link
CHANNEL_LINK=https://t.me/+laTZFTDKCLhjZjk9
